# Virtual environment
.venv/

# Env file in config
config/.env

# Context data
context/

# Jupyter and test files
test.ipynb
test2.ipynb
test.py

# Ignore all __pycache__ directories and their contents, wherever they are
**/__pycache__/
